#section-services-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-services-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 30px;

    .grid-service {
      display: grid;
      grid-template-rows: 100px 1fr;
      align-items: center;
      justify-items: center;
    }
  }

  @media (max-width: $max-tablet) {
    .grid-services-2 {
      grid-template-columns: 1fr;
      
    }
  }
}
