#section-tellmemore {
  // background
  background-image: url("../../assets/images/layout/conte-sua-ideia.jpg");
  background-size: cover;
  background-attachment: fixed;

  // ...
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 350px;
  overflow: hidden;

  .content {
    z-index: 1;

    @extend .mt-5;

    @extend .mb-5;

    max-width: 380px;

    .title {
      @extend .mt-0;

      @extend .mb-1;
    }

    :last-child {
      @extend .mb-0;
    }
  }
}
