#section-portfolio {
  .buttons {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 0 20px;
  }

  .buttons button {
    max-width: 400px;
    margin: 0 auto 1rem;
    width: 100%;
  }

  @media screen and (min-width: $min-tablet) {
    .buttons {
      flex-direction: row;
    }

    .buttons button {
      max-width: none;
      width: auto;
      margin: 0;
    }
  }
}
