<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Pupila Filmes e Fotografia
    link(href="https://fonts.googleapis.com/css?family=Elsie|Lato:300,400" rel="stylesheet")
  body
      #grid-home
        header
          .header-container
            .logo 
              img(src="assets/images/pupila-logo.png")
            nav
              a(href="#") Portifólio
              a(href="#") Serviços
              a(href="#") Sobre
              a(href="#") Contato
        #section-home
          .content
            h1.title Pupila, luz e coração.
            h3.subtitle Filmes e Fotografia
        
