<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="favicon.png")
    title Pupila Filmes e Fotografia
    link(href="https://fonts.googleapis.com/css?family=Elsie|Lato:300i,300,400i,400" rel="stylesheet")
  body
    #app
    
    header
      img.background(src='assets/images/layout/topo.png')
      .header-container
        .logo 
          img(src="assets/images/layout/pupila-logo.png")
        nav
          a(scrollTo href="#section-services") Serviços
          a(scrollTo href="#section-portfolio") Portifólio
          a(scrollTo href="#section-about") Sobre
          a(scrollTo href="#section-contact") Contato

    #section-home
      .content.text-white.text-center
        div.title-wrap.mb-0 
          img.simbol.mr-1(src="assets/images/layout/simbolo-logo-branco.png")
          h1.title.font-large-3(data-splitting) Pupila, luz e coração.
        h3.subtitle.mt-0.font-medium-3
          i Filmes e Fotograffia
        button.btn-circle-arrow-down(scrollTo href="#section-services")

    #section-services
      #acompanhamento-infantil
        .grid.mt-3
          .content
            h2.title Acompanhamento infantil.
            p
              i  
                | A escolinha é uma fase importante e passa depressa. 
                br
                | Mas não se preocupe, podemos registrar esses 
                br 
                | momentos de descobertas, amizades e aventuras para que sua família possa recordar com carinho no futuro. 
                br
                | Solicite mais informações por email ou WhatsApp.
          figure
            image(src="assets/images/layout/acompanhamento-infantil.jpg")

      #ensaios-femininos
        .grid.grid-inverse.mb-3
          .content
            h2.title Ensaios femininos.
            p 
              i 
                | Do sorriso ao gesto, a beleza é natural no feminino. 
                | Adoramos isso e sabemos que cada mulher 
                br 
                | é linda em sua singularidade - é única!
                br
                | Que tal eternizarmos isso em belas imagens? 
                br 
                | Solicite mais informações por email ou WhatsApp.
          figure
            img(src="assets/images/layout/ensaios-femininos.jpg")

    #section-tellmemore
      .content.text-center.text-white
        h2.title Conte sua idéia
        p Pensou em algo diferente? Então vamos conversar. Contate-nos por email ou WhatsApp.

    #section-portfolio
      h2.mt-5.title.text-center.font-large-2
        | Portifólio
      div.buttons.mb-4.mt-3
        button.button-default(present="#gallery-one") Ensaios Femininos
        button.button-default.inactive(present="#gallery-two") Ensaios Infantis
      #photos-grid.mb-5
        .gallery
          .gallery__thumbs
            img(src="assets/images/portfolio/ensaio-feminino/foto-001.jpg")
            img(src="assets/images/portfolio/ensaio-feminino/foto-002.jpg")
            img(src="assets/images/portfolio/ensaio-feminino/foto-003.jpg")
            img(src="assets/images/portfolio/ensaio-feminino/foto-004.jpg")
            img(src="assets/images/portfolio/ensaio-feminino/foto-005.jpg")
          .gallery__display
            img(src="assets/images/portfolio/ensaio-feminino/foto-001.jpg")
      
    #section-about
      .container.mb-4.mt-4
        .grid-about
          .content
            h2.title Quem Somos?
            p 
              i Pessoas de bem com a vida, com sensibilidade, apaixonados por cinema, fotografia, arte, infância, beleza… Formados em Cinema pela PUC, com experiência em produções audiovisuais (cinema, publicidade e TV), ensaios fotográficos e cobertura de eventos.
          .photos
            figure
              img(src="assets/images/layout/perfil-daia.png")
              figcaption Daiana
            figure
              img(src="assets/images/layout/perfil-roney.png")
              figcaption Roney

    #section-contact
      div.text-center.mb-4.mt-5
        h2.title 
          | Fale Conosco
        .content
          p
            i Telefone: 51 99999-9999
          p 
            i E-mail: contato@pupilafilmes.com.br
