html, body {
  height: 100%;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: $font-text;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  @extend .font-medium-1;

  color: #383533;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1, h2, h3 {
  @extend .font-primary;
}

h1 {
  @extend .font-large-2;
}

h2 {
  @extend .font-large-1;
}

.arrow-down {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 1em;
  transform: rotate(45deg);
}
