// Fonts
$font-primary: "Elsie", serif;
$font-text: "Lato", sans-serif;

// Colors
$color-primary: #85499c;

// Dimensions
$dimension-1: 0.8rem;
$dimension-2: 1.6rem;
$dimension-3: 2.4rem;
$dimension-4: 4.2rem;
