// Fonts
$font-primary: "Elsie", serif;
$font-text: "Lato", sans-serif;

// Colors
$color-primary: #85499c;
$color-primary-darker: #673d77;
$color-disabled: #7d7d7d;
$color-bg-grey-1: #ebebeb;

// Dimensions
$dimension-1: 0.8rem;
$dimension-2: 1.6rem;
$dimension-3: 2.4rem;
$dimension-4: 4.2rem;
$dimension-5: 5.4rem;

// Breakpoints
$min-tablet: 769px;
$max-tablet: 768px;
