.button-default {
  @extend .font-primary;

  @extend .font-medium-1;

  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
  padding: 15px 50px;

  &.inactive {
    border-color: $color-disabled;
    color: $color-disabled;
  }
}

.btn-circle-arrow-down {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $color-primary;
  border: 0;
  font-size: 5px;

  &::after {
    @extend .arrow-down;

    content: "";
    margin-bottom: 2px;
  }
}
