.button-default {
  @extend .font-primary;

  background-color: transparent;
  border: 1px solid $color-disabled;
  color: $color-disabled;
  padding: 15px 50px;
  font-size: 1.3rem;

  &.active {
    border-color: $color-primary;
    background-color: $color-primary;
    color: white;
  }
}

.btn-circle-arrow-down {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $color-primary;
  border: 0;
  font-size: 5px;
  display: inline-block;

  &::after {
    @extend .arrow-down;

    content: "";
    margin-top: 12px;
  }
}
