.gallery {
  position: relative;

  .gallery__book {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-gap: 20px;
    grid-auto-rows: 180px;
    justify-content: center;
    width: 100%;

    .gallery__thumb {
      position: relative;
      z-index: 0;
      opacity: 0;
      transform: translateX(-30px);
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .gallery__book.active {
    position: relative;

    .gallery__thumb {
      animation: galleryShow 1s forwards;
      transform: translateX(-30px);
    }

    .gallery__thumb:nth-child(1n) {
      animation-delay: 100ms;
    }

    .gallery__thumb:nth-child(2n) {
      animation-delay: 200ms;
    }

    .gallery__thumb:nth-child(3n) {
      animation-delay: 300ms;
    }

    .gallery__thumb:nth-child(4n) {
      animation-delay: 300ms;
    }
  }

  @keyframes galleryShow {
    from {
      opacity: 0;
      z-index: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      z-index: 1;
      transform: translateX(0);
    }
  }
}
